<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= @user.name %>
      </h1>
      <% unless @user.items.empty? %>
        <table class="items" summary="User items">
          <%= render @shared_items %>
        </table>
        <!--paginate items -->
      <% end %>
    </td>
    <td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><br />
      <strong>Items</strong> <%= @user.items.where(:shared => true).count %><br />
    </td>
  </tr>
</table>
