<div class="item_form">
<%= form_for @item, :html => { :multipart => true} do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label 'file', 'Select File' %>:
    <%= f.file_field :file %>
  </div>
  <div class="field">
    <%= f.label 'shared', 'Share' %>:
    <%= f.check_box :shared %>
  </div>
  <div class="actions">
    <%= f.submit "Upload" %>
  </div>
<% end %>
</div>
