<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="item">Upload</h1>
        <%= render 'shared/item_form' %>
        <h1>Private Items</h1>
        <% if @private_items.empty? %>
          <p>None.</p>
        <% else %>
          <table class="items" summary="User items">
            <%= render @private_items %>
          </table>
        <% end %>
        <h1>Shared Items</h1>
        <% if @shared_items.empty? %>
          <p>None.</p>
        <% else %>
          <table class="items" summary="User items">
            <%= render @shared_items %>
          </table>
        <% end %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
      </td>
    </tr>
  </table>
<% else %>
  <h1 class='dashing'>Dashing!</h1>
  <p>Welcome to Dashing, a web application that lets you store and share data. <br />
  </p>
  <% if User.all.empty? %>
    <p>
    The first account you create will have admin privileges, allowing it to create and delete other accounts.<br />
    <%= link_to "Sign up!", signup_path %>
    </p>
  <% else %>
    <%= render 'shared/sign_in_form' %>
  <% end %>
<% end %>
