<tr>
  <td class="item">
    <span class="title">
      <%= link_to item.private_path,item %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(item.created_at) %> ago.
    </span>
  </td>
  <% if current_user?(item.user) %>
  <td>
    <%= link_to "get", :action => :get_file, :controller=>"items", :id =>item%>
    <%= link_to "view", item %>
    <%= link_to "edit", edit_item_path(item) %>
    <%= link_to "delete",
                item,
                :method => :delete,
                :confirm => "You sure?",
                :title => "Delete #{item.private_path}"
    %>
  </td>
  <% end %>
</tr>
